body {
    margin: 0;
    font-family: 'Instrument Serif', serif;
    overflow-x: hidden;
  }

.section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

  
  /* styling the container to hide overflow */
.text-container {
    white-space: nowrap;
    overflow: hidden;   
    position: relative;
    width: auto;      
    height: 100px;        
    display: flex;       
    align-items: center;
    background-image: url("/media/floral.png");
  }
  
.scrolling-text {
    display: inline-block;
    font-size: 5rem;
    color: #E2C062;
    white-space: nowrap; 
    -webkit-text-stroke: 1px black;
    font-style: italic;
  }

.video-container {
    overflow: hidden;
  }

#childhood-video {
    width: 100vw;  
    height: 91vh; 
    object-fit: cover;   
    z-index: -1;  
    position: absolute;
  }

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
  }

.bar {
    width: 10vw;
    height: 105vh;
    background-image: url("/media/bar.png");
  }

.text-overlay {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
  }

  .bahay-container {
    margin-top: 20%;
    background-image: url("/media/floral.png");
    text-align: center;
    
}

.bahay-title {
    font-size: clamp(7rem, 9vw, 9rem);
    font-style: italic;
    color: #f3e3b8;
    text-shadow: 5px 5px rgb(39, 32, 2);
    
  }

.bahay-text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-size: 2rem;
    font-style: italic;
  }

#flower-img {
    align-items: center;
    width: 25%;
    height: auto;
}

.scroll-container {
  position: absolute;
  bottom: 20px; /* Adjust to place the text and arrow at the bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}

.scroll-text,
.arrow-container {
  opacity: 0; /* Initially hidden */
  visibility: hidden;
}

.scroll-text {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.arrow-container {
  margin-top: 10px;
  font-size: 3rem;
  color: white;
}

.arrow {
  display: inline-block;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.section-2 {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    overflow: hidden;
    background-image: url("/media/background-img.png");
}


.childhood-text {
    font-family: cursive;
    font-size: 4rem;
    color: #312A00;
}

.c1 {
    text-align: left;
    margin: 20px auto 10px; 
    padding-left: 5%;     
    width: 90%;    
    padding-bottom: 2.5%;       
}

.c2 {
    text-align: right;
    margin: 10px auto 20px; 
    padding-right: 5%;     
    padding-top: 2.5%; 
    width: 90%;        
}


.childhood-image {
    width: 33vw;
    height: 33vh;
}

.image-container {
    display: flex; 
    position: relative;
    justify-content: space-between; 
    justify-content: center;
}
